// ========================
// Base SCSS
// ========================

// ========================
// Importing Global Styles
// ========================
@use 'typography' as *;

// ========================
// Colors Variables
// ========================
$primary: #1976d2;
$secondary: #43a047;
$accent: #ff7b42;

$dark: #212121;
$dark-page: #121212;

$light: #e0e0e0;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// Color Text Variables
$color-text: #000000;
$color-text-light: #ffffff;
$color-text-gray: #7a7a7a;
$color-text-accent: #ff7b42;

// Background Color Variables
$color-bg: rgba(0, 0, 0, 0.6);
$color-bg-light: rgba(255, 255, 255, 0.808);
$color-bg-accent: rgba(255, 123, 66);

// Hover Color Variables
$color-hover: rgba(0, 0, 0, 0.2);
$color-hover-light: rgba(255, 255, 255, 0.2);
$color-hover-accent: #7d422c;

// ========================
// Typography Variables
// ========================
$font-family-primary: 'Archivo Black', sans-serif;
$font-family-secondary: 'Bungee Hairline', sans-serif;
$font-family-tertiary: 'Hanken Grotesk', sans-serif;

// ========================
// Global Resets & Utilities
// ========================

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: var(--vt-c-white);
  color: var(--color-text);
  font-family: $font-family-primary;
  font-size: 15px;
  line-height: 1.6;
  transition:
    color 0.5s,
    background-color 0.5s;
}
