@font-face {
  font-family: 'Archivo Black';
  src: url('./fonts/Archivo_Black/ArchivoBlack-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Bungee Hairline';
  src: url('./fonts/Bungee_Hairline/BungeeHairline-Regular.ttf') format('truetype');
}
