// =======================
// Variables for Typography
// =======================

$font-family-primary: 'Archivo Black', sans-serif;
$font-family-secondary: 'Bungee Hairline', sans-serif;
$font-family-tertiary: 'Hanken Grotesk', sans-serif;
